/* Playfair Display all styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Secular One (slimer37 font) */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

h1,
h2 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;

  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
  margin-top: 80px;
}

.scaled-logo {
  height: auto;
  max-width: 100%;
  margin: -5px 0px;
  transition: 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.scaled-logo:hover {
  margin: -8px 0px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;

  height: 80px;

  background-color: #353b48;
  color: white;

  border-top: 5px solid #2f3640;
  border-bottom: 5px solid #2f3640;

  display: flex;

  justify-content: space-between;

  font-size: 15px;

  transition: 0.2s cubic-bezier(0.16, 1, 0.3, 1);

  z-index: 10000;
}

.shrunk-header {
  background-color: #353b48f1;
  height: 50px;
  font-size: 12px;
}

.nav-btn-group {
  display: flex;
  gap: 5px;
  margin: 10px 10px;
  align-self: center;

  height: 70%;
}

.nav-btn {
  background-color: #718093;
  height: 100%;
  align-self: flex-end;
  color: #f5f6fa;

  border: 0px solid #fbc531;
  box-sizing: border-box;
  border-radius: 0px;

  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  min-width: 100px;

  padding-left: 5px;
  padding-right: 5px;

  font-size: 1em;
  font-style: normal;
  text-decoration: none;

  transition: 100ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-btn:hover {
  border-bottom: 3px solid;
  background-color: #7f8fa6;

  font-size: 1.3em;
  color: #fbc531;
}

.nav-btn:active {
  background-color: #9baec9;
}

footer {
  background-color: #7f8fa6;
  padding: 10px;
  color: white;

  border-top: 5px solid #718093;
  border-bottom: 5px solid #718093;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  min-height: 60px;
}

.footer-column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.footer-item {
  margin: 0;
}

.footer-link {
  text-decoration: none;
  color: #fbc531;
}

.invert {
  filter: invert(100%);
}