/* Playfair Display all styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Secular One (slimer37 font) */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

h1,
h2 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;

  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

header {
  background-color: #353b48;
  color: white;
  padding: 10px 10px;

  border-top: 5px solid #2f3640;
  border-bottom: 5px solid #2f3640;

  display: flex;

  justify-content: space-between;
}

.nav-btn-group {
  display: flex;
  gap: 5px;
}

.nav-btn {
  background-color: #718093;
  border: 0px;
  height: 50px;
  align-self: flex-end;
  color: #f5f6fa;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  min-width: 100px;

  padding-left: 5px;
  padding-right: 5px;

  font-size: 15px;

  font-style: normal;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #7f8fa6;
}

.nav-btn:active {
  background-color: #9baec9;
}

footer {
  background-color: #7f8fa6;
  padding: 10px;
  color: white;
  text-align: center;

  border-top: 5px solid #718093;
  border-bottom: 5px solid #718093;
}

.footer-email {
  text-decoration: none;
  color: #273c75;
}

.invert { filter: invert(100%); }