/* Playfair Display all styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --bg: #080A08;
  --sec-bg: #0B170B;
  --secondary: #2D7863;
  --primary: #2DAA27;
  --text: #EAEFE9;
  --accent: #5DC3B9;
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 10pt;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--bg);
  margin: 0;
}

#root {
  font-family: 'Open Sans', sans-serif;

  font-size: 12pt;

  height: 100%;

  display: flex;
  flex-direction: column;

  color: var(--text);

  min-height: 100vh;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
  margin-top: 100px;
}

.scaled-logo {
  height: auto;
  max-width: 100%;
  padding-left: 15px;
  transition: 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.scaled-logo:hover {
  margin: -2px;
}

.button {
  cursor: pointer;

  font-family: 'Jost', sans-serif;

  color: var(--text);

  background-color: var(--secondary);

  border: none;

  padding: 5px 10px;

  font-size: 1.2em;
  font-style: normal;
  text-decoration: none;

  transition: 100ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.button:hover {
  border-bottom: 3px solid var(--accent);
  background-color: var(--sec-bg);

  font-size: 1.4em;
  color: var(--accent);
}

.button:active {
  background-color: var(--accent);
}