.project-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

    z-index: -1;
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 20px;
    text-decoration: none;

    font: 20px "Secular One", sans-serif;

    position: relative;

    overflow: hidden;

    min-height: 300px;
}

.pixel-art {
    image-rendering: pixelated;
}

.duppet {
    position: absolute;
    width: 64px;

    bottom: -25px;

    animation: duppet-walk 15s linear infinite;
}

@keyframes duppet-walk {

    0%,
    30% {
        right: calc(100% + 64px);
        transform: translateY(-5px);
    }

    32%,
    34%,
    38%,
    40%,
    44%,
    46%,
    50%,
    52%,
    56%,
    58%,
    62%,
    64%,
    68% {
        transform: translateY(5px);
    }

    31.5%,
    35%,
    37.5%,
    41%,
    43.5%,
    47%,
    49.5%,
    53%,
    55.5%,
    59%,
    61.5%,
    65%,
    67.5% {
        transform: translateY(-5px);
    }

    70%,
    100% {
        transform: translateY(5px);
        right: -64px;
    }
}

.emayhem-title {
    background-color: rgb(39, 39, 58);
    padding: 10% 0px;
    border-radius: 5px;
}