.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0;
}

.project-tile {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 20px;
    text-decoration: none;

    font: 20px "Secular One", sans-serif;

    position: relative;

    overflow: hidden;

    min-height: 300px;
    min-width: 25vw;

    box-shadow: 5px 5px 5px #dcdde1;
}

.emayhem-project-tile {
    background-color: rgb(39, 39, 58);
    color: white;
}

.cc-tile {
    background-color: #fbc531;
}

.wip-tile {
    background: repeating-linear-gradient(-45deg,
            #718093,
            #718093 30px,
            #7f8fa6 30px,
            #7f8fa6 60px);

    color: #2f3640;
}

.wip {
    margin: auto;
    text-align: center;

    font-style: italic;
    font-weight: bold;
    font-family: 'Playfair Display', cursive;
    font-size: 2em;
}

.empty-tile {
    background-color: #718093;
    color: #2f3640;
}

.empty-tile-content {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', cursive;
    font-size: 4em;
}

.pixel-art {
    image-rendering: pixelated;
}

.duppet {
    width: 32px;
    height: 64px;

    background: url("assets/engineersprites.png");
    background-size: 400%;

    animation: duppet-flipbook 0.75s steps(4) infinite;
}

.duppet-container {
    position: absolute;

    bottom: 0px;

    animation: duppet-walk 10s linear infinite;
}

@keyframes duppet-flipbook {

    0% {
        background-position: 0px;

    }

    100% {
        background-position: 400%;
    }

}

@keyframes duppet-walk {

    0% {
        right: calc(100% + 64px);
    }

    100% {
        right: -64px;
    }

}

.title {
    margin: 10% 0px;
}